.pic1{
    background-image: url(images/assets/backgrounds/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text color: white;
   
    margin-bottom: 100px;
    padding-top:180px;
    padding-bottom: 100px;
    
}
.pic1 h1{
    text-align: center;
    padding-top: 60px;
    color: white;
}
.pic1 h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding-top: 40px;
}
.pic1 h3{
    color: white;
    padding-top: 40px;
}
.pic1 li{
    padding-top: 120px;
}

.services{
    font-family: 'Times New Roman', Times, serif;
background-image: url(images/assets/backgrounds/s_image.jpg);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 250px;
    width: auto;
    text-align: center;
    padding-top: 100px;
    color: white;
}
.whatwedo{
    justify-content: space-around;
    display: flex;
    margin-bottom:3px;
    
}
.ww{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}



.contact{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    background-image: url(images/assets/backgrounds/c_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    width: auto;
    text-align: center;
    padding-top: 50px;
    color: white;
    margin-top: 20px;
    


}

.about{
    text-align: center;
}
.top{
    display: flex;
    margin-left: 3%;
}


.socials{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
        margin-left: 400px;
        margin-right: 100px;
        width: 50%;
        padding: 10;
        justify-content: space-between;
    
      }
    
.footer{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
 align-items: center;
 margin-left: 660px;
        margin-right: 100px;
}
   .email{
       background: transparent;
       display: flex;
       justify-content: center
       
   } 
   .message{
       padding-top: 10px;
       margin-top: 10px;
       background-color: transparent
   }
   .body{
       font-weight: lighter;
   }
   .contact email{
       background: transparent;
   }
   .mm{
       background: transparent;
       width: 20%;
       color: white;
       font-size: 12px;
   }

.pd{
    display: none;
}
.des{
    display: none;
}
.dev{
    display: none;
}
.down{
display: flex;
    margin-left: 50px;
    margin-bottom: 10px;
}

.port{
    text-align: center;
}

.bs{
    display:none;
   
}
.os{
    display: none;
}
.pm{
    display: none;
}
.jm{
    display: none;
}
.nd{
    display: none;
}
.c{
    display: none;
}
.b{
    display: none;
}
.gr{
    display: none;
}
.port{
    margin-left: 50px;
}

.work1{
    margin-left: 2%;
}
.work2{
    margin-left: 2%;
}
.work3{
    margin-left: 2%;
}
.work4{
    margin-left: 2%;
}
.work5{
    margin-left: 2%;
}

.work6{
    margin-left: 2%;
}

.work7{
    margin-left: 2%;
}

.work8{
    margin-left: 2%;
}
